<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          xmlns:tools = "http://schemas.android.com/tools"
          package = "com.turntimer">
    <application android:label = "@string/app_name"
                 android:theme = "@style/app_theme"
                 android:icon = "@mipmap/ic_turntimer"
                 android:roundIcon = "@mipmap/ic_turntimer_round"
                 android:allowBackup = "true"
                 android:fullBackupContent = "true"
                 android:supportsRtl = "true"
                 android:extractNativeLibs = "false"
                 tools:ignore = "GoogleAppIndexingWarning">
        <activity android:name = "MainActivity"
                  android:label = "@string/app_name"
                  android:configChanges = "orientation|keyboard|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.DEFAULT" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
